/*
*Navigation 
*/
.nav-outer{
    background-color:#fff;
    border-bottom:1px solid rgba(0,0,0,0.10);
    position:fixed;
    z-index:1;
    width:100%;
}
/*
*Navigation end
*/


/*
* Hero 
*/
.hero{
    /*background: linear-gradient(to right, #52c234, #061700);*/
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url("../assets/cool-background.png");
     background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.hero-content h1{
    font-size: 90px;
    color:white;
    text-align: center;
    margin:0;
}
.hero-content p{
    color: white;
    font-size: 21px;
    text-align: center;
}
.hero-content p:nth-child(3){
    margin-top: 15%;
}
.btnGroup{
    margin-top: 20%;
    text-align: center;
}



.logo span{
    display: block;
    color: #000;
    text-decoration: none;
}
@media screen and (min-width:320px) and (max-width: 600px){
    .logo span{
        display: none;
    }
    .nav-outer{
        background-color: transparent;
        border:none;
    }
}
@media screen and (max-width: 319px){
    .hero-content h1{
        font-size: 60px;
    }
    .hero-content p{
        font-size: 18px;
    }
    .logo span{
        display: none;
    }
    .nav-outer{
        background-color: transparent;
        border:none;
    }
}
/*
* Hero end
*/