/*
* Footer styles
*/
.sigmanteum_footer{
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.3)), url("../assets/fancy-pants.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10vh;
}
.footer_content{
    padding: 60px;
}
.footer_logo h3{
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    line-height: 140%;
}
.footer_nav{
    font-size: 16px;
    padding: 15px;
}
.footer_nav ul{
   font-size: 16px;
   text-decoration: none;
   list-style-type: none;
   padding: 0;
}
.footer_nav ul li{
    padding:4px 0;
}
.footer_nav_header{
    color: #9CA8B7;
    font-size: 16px;
}
.footer_address{
    text-align:left;
    font-size: 14px;
}
.footer_signature{
    text-align: center;
}
@media screen and (min-width: 601px) and (max-width: 1130px){
    .footer_content{
        padding: 0;
    }
    .footer_logo,
    .footer_logo h3{
        width: 100%;
        text-align: center;
    }
    .footer_nav_header,
    .footer_address{
        text-align:center;
        
    }
    .footer_nav ul li{
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    .footer_content{
        padding: 0;
    }
    .footer_logo,
    .footer_logo h3{
        width: 100%;
        text-align: center;
        
    }
    .footer_nav_header,
    .footer_address{
        text-align:center;
        
    }
    .footer_nav ul li{
        text-align: center;
    }
}

/*
* Footer styles end
*/