/*
* Footer styles
*/
.sigmanteum_footer{
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.3)), url("../assets/fancy-pants.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10vh;
}
.footer-address{
    color:#fff;
    text-align:center;
}
@media screen and (min-width: 601px) and (max-width: 1130px){
    .footer-address{
        margin-top: 30px;
        font-size: 15px;
    }
    .footer-links{
        margin-top: 30px;
    }
}
@media screen and (max-width: 600px){
    .footer-links{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .footer-address{
        margin-top:20px;
        color:#fff;
        margin-left: 10px;
        margin-right: 10px;
        text-align:center;
        font-size: 14px;
    }
}

/*
* Footer styles end
*/